
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$container-large-desktop: 420px;
$grid-gutter-width: 30px;


// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

// .accord-style {
//   background-color: #282C35;
//   // height: 440px;
// }

body {
  background-color: #282C35;
}

.bg-color{
  background-color: #1B1E25;
  padding-top: 1px;
  padding-bottom: 3px;
}

/***************************************************************************
LIST STYLING
***************************************************************************/



ul{
  padding-left: 8px;
  padding-right: 8px;
}

li {
  background-color: #71757E;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 13px;
  color: #ccd1dd;
  font-size: 15px;

}

h2 {
  background-color: #63656a;
  color: #ccd1dd;
  height: 45px;
  width: 100%;
  padding-top: 10px;
  font-size: 20px;
  padding-left: 15px;
}

.files{
  &::before{
    content:"\e044";
    padding-right: 12px;
    padding-top: 3px;
  }
  &::after{
    content: "870";
    font-size: 15px;
    margin-left: 197px;
    background-color: #414347;
    width: 200px;
    border: 1px solid #414347;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;

  }
}

.email{
  &::before{
    content:"\2709";
    padding-right: 12px;
    padding-top: 3px;
  }
  &::after{
    content: "747";
    font-size: 15px;
    margin-left: 233px;
    background-color: #414347;
    width: 200px;
    border: 1px solid #414347;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
  }
}

.clouds{
  &::before{
    content:"\2601";
    padding-right: 12px;
    padding-top: 3px;

  }
  &::after{
    content: "911";
    font-size: 15px;
    margin-left: 210px;
    background-color: #414347;
    width: 200px;
    border: 1px solid #414347;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
  }
}

li {
  list-style: none;
  background-color: #A9BF4F;
  color: #63656A;
}

// .sign-out {
//   display: block;
//   position: relative;
//   left: 55px;
// }

.hover-background {
  background-color: #A9BF4F;
  color: #63656A;
}





/***************************************************************************
MY FILES
***************************************************************************/


.drop-box{
  font-weight: bold;
  &::after{
    content: "120";
    font-size: 15px;
    margin-left: 234px;
    background-color: #414347;
    width: 200px;
    border: 1px solid #414347;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: #8D9097;
  }
}

.skydrive{
  font-weight: bold;
  &::after{
    content: "180";
    font-size: 15px;
    margin-left: 238px;
    background-color: #414347;
    width: 200px;
    border: 1px solid #414347;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: #8D9097;
  }
}

.ftp-server{
  font-weight: bold;
  &::after{
    content: "150";
    font-size: 15px;
    margin-left: 222px;
    background-color: #414347;
    width: 200px;
    border: 1px solid #414347;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: #8D9097;
  }
}

.drop-box2{
  font-weight: bold;
  &::after{
    content: "320";
    font-size: 15px;
    margin-left: 234px;
    background-color: #414347;
    width: 200px;
    border: 1px solid #414347;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: #8D9097;
  }
}

.skydrive{
  font-weight: bold;
  &::after{
    content: "100";
    font-size: 15px;
    margin-left: 238px;
    background-color: #414347;
    width: 200px;
    border: 1px solid #414347;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: #8D9097;
  }
}




/***************************************************************************
EMAIL
***************************************************************************/



.dinbox{
  font-weight: bold;
  &::after{
    content: "300";
    font-size: 15px;
    margin-left: 259px;
    background-color: #414347;
    width: 200px;
    border: 1px solid #414347;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: #8D9097;
  }
}

.sent{
  font-weight: bold;
  &::after{
    content: "120";
    font-size: 15px;
    margin-left: 265px;
    background-color: #414347;
    width: 200px;
    border: 1px solid #414347;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: #8D9097;
  }
}

.junk{
  font-weight: bold;
  &::after{
    content: "222";
    font-size: 15px;
    margin-left: 264px;
    background-color: #414347;
    width: 200px;
    border: 1px solid #414347;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: #8D9097;
  }
}

.promotion{
  font-weight: bold;
  &::after{
    content: "105";
    font-size: 15px;
    margin-left: 225px;
    background-color: #414347;
    width: 200px;
    border: 1px solid #414347;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: #8D9097;
  }
}

.social{
  font-weight: bold;
  &::after{
    content: "000";
    font-size: 15px;
    margin-left: 256px;
    background-color: #414347;
    width: 200px;
    border: 1px solid #414347;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: #8D9097;
  }
}


/***************************************************************************
CLOUD
***************************************************************************/



.connect{
  font-weight: bold;
  &::after{
    content: "001";
    font-size: 15px;
    margin-left: 239px;
    background-color: #414347;
    width: 200px;
    border: 1px solid #414347;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: #8D9097;
  }
}

.profiles{
  font-weight: bold;
  &::after{
    content: "050";
    font-size: 15px;
    margin-left: 246px;
    background-color: #414347;
    width: 200px;
    border: 1px solid #414347;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: #8D9097;
  }
}

.local{
  font-weight: bold;
  &::after{
    content: "440";
    font-size: 15px;
    margin-left: 240px;
    background-color: #414347;
    width: 200px;
    border: 1px solid #414347;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: #8D9097;
  }
}

.hacked{
  font-weight: bold;
  &::after{
    content: "420";
    font-size: 15px;
    margin-left: 244px;
    background-color: #414347;
    width: 200px;
    border: 1px solid #414347;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: #8D9097;
  }
}

.yours{
  font-weight: bold;
  &::after{
    content: "000";
    font-size: 15px;
    margin-left: 223px;
    background-color: #414347;
    width: 200px;
    border: 1px solid #414347;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: #8D9097;
  }
}
