
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$container-large-desktop: 420px;
$grid-gutter-width: 30px;


// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

// .accord-style {
//   background-color: #282C35;
//   // height: 440px;
// }

body {
  background-color: #282C35;
}

.bg-color{
  background-color: #1B1E25;
  padding-top: 1px;
  padding-bottom: 3px;
}

/***************************************************************************
LIST STYLING
***************************************************************************/



// ul {
//   background-color: #63656A;
//   height: 45px;
//   width: 379px;
//   color: #CCD1DD;
//   font-size: 15px;
//   display: block;
//   position: relative;
//   left: 5px;
//   margin-top: -12px;
//   h2 {
//     padding-top: 5px;
//   }
// }

ul{
  padding-left: 8px;
  padding-right: 8px;
}

li {
  background-color: #71757E;
  padding-left: 8px;
  color: #ccd1dd;
}

h2 {
  background-color: #63656a;
  color: #ccd1dd;
  height: 45px;
  width: 100%;
  padding-top: 10px;
  font-size: 20px;
  padding-left: 15px;
}

.files{
  &::before{
    content:"\e044";
    padding-right: 12px;
    padding-top: 3px;
  }
  &::after{
    content: "200";
    font-size: 15px;
    margin-left: 190px;
    background-color: #414347;
    width: 200px;
    border: 1px solid #414347;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.email{
  &::before{
    content:"\2709";
    padding-right: 12px;
    padding-top: 3px;
  }
}

.clouds{
  &::before{
    content:"\2601";
    padding-right: 12px;
    padding-top: 3px;

  }
}

li {
  list-style: none;
}

// .sign-out {
//   display: block;
//   position: relative;
//   left: 55px;
// }

.hover-background {
  background-color: #A9BF4F;
  color: #63656A;
}





/***************************************************************************
TBD
***************************************************************************/






/***************************************************************************
TBD
***************************************************************************/





/***************************************************************************
TBD
***************************************************************************/
